@{
    ViewBag.Title = "Ken McKinley";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    149 Mill Street<br />
    Athens, OH 45387<br />
    <abbr title="Phone">Phone:</abbr>
    937.926.5421
</address>

<address>
    
</address>