@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:lightgreen;" class="jumbotron">
    <h1>Ken McKinley</h1>
    <p class="lead">MIS and Analytics Major</p>
</div>

<div style="background-color:powderblue;" class="row">
    <div class="col-md-4">
        <h2>Majors and Certificates</h2>
        <p>
           I am a Management Information Systems and Analytics major with certificates for Strategic Leadership as well as Technology and Society.   
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>This Website</h2>
        <p>This website was made within Visual Studios using GitHub. It was coded in C# and is for my MIS4200 class.</p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Links
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <p>@Html.ActionLink("Customers", "Index", "Customers")</p>
                <p>@Html.ActionLink("Orders", "Index", "Orders")</p>
                <p>@Html.ActionLink("Pets", "Index", "Pets")</p>
                <p>@Html.ActionLink("Vets", "Index", "Vets")</p>
            </ul>
        </div>


        

    </div>
    <div class="col-md-4">
        <h2>MIS 4200</h2>
        <p>Agile development using Scrum is a major focus of this course and one of the fundamental tenants of the Agile Manifesto is welcoming changing requirements, even late in development. Like an Agile project this course is a work in progress and things are likely to change as we move through the semester. Changes to the syllabus and schedule will be posted in the Announcements as they occur.</p>
        <p></p>
    </div>
</div>